body {
	font-size: 76%;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
ul.float {
	width: 30%
}
a {
	color: black;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
h2 {
	color: #99cc33;
	font-size: 1.5em
}
table {
	margin-bottom: 1em;
	border-collapse: collapse
}
td {
	border: solid 1px black
}
th {
	font-size: 110%;
	background-color: #9c0
}
th a {
	background-color: transparent;
	display: block;
	padding-top: 0.6em;
	padding-bottom: 0.6em
}
td a {
	color: black
}
th a:hover {
	color: white;
	text-decoration: none;
	background-color: #008000
}
td {
	padding: 0.2em 1em;
	vertical-align: middle;
	border-style: none none solid;
	border-width: 0 0 2px;
	border-color: #9c0
}
th.control {
	vertical-align: middle;
}
tr.admin {
	background-color: white
}
.footer a, .footer span
/*  fix for ie  */

	{
	display: inline;
	outline-style: solid;
	outline-width: 1px
}
.footer a, .footer span {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.5em 0.75em
}
.footer a:hover {
	color: white;
	text-decoration: none;
	background-color: #99cc33
}
p.footer span.current {
	background-color: #99cc33
}
.proof {
	background-color: #fcc
}
ul input {
	margin-left: 0.5em
}
form li, form div {
	padding-top: 0.2em;
	padding-bottom: 0.2em
}
ul.float input, ul.float select {
	margin-left: -72%;
	position: relative;
	left: 110%
}
ul.edit span {
	margin-left: -50%;
	position: relative;
	left: 100%
}
ul.edit {
	width: 25%
}
label {
	font-size: 1em;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.3em
}
ul.float label {
	text-align: right;
	margin-right: 65%;
	float: right;
	vertical-align: middle
}
ul.edit label {
	text-align: right;
	margin-right: 50%;
	float: right;
	vertical-align: middle
}
input[type="text"] {
	font-size: 1em;
	height: 1.5em;
	solid: -webkit-border-radius: .5em,
}
.blue {
	border: solid 1px white
}
.sap td {
	font-size: 110%;
	line-height: 2;
	text-align: right;
	padding-right: 0.4em;
	padding-left: 0
}
table.up td {
	text-align: right;
	padding-right: 0.3em;
	padding-left: 0;
	border-bottom: 0 none
}
table.up td:last-child {
	text-align: left
}

.block {
    background-color: rgb(255, 255, 200);
    display: inline-block;
    padding: 1em;
}

.clientlist li {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
}
.clientlist li * {
    display: inline-block;
    vertical-align: bottom;
}

.clientlist .name {
    display: block;
    font-size: 110%;
    border-bottom: dotted 1px;
}
input[type=submit]{
     border:1px solid #444;
    color: #222;
     border-radius:20px;
     box-shadow:1px 1px 1px #444;
     background-color: silver;
}

input[type=submit]:hover {
    background-color: gainsboro;
    color: black;
}
.clientlist input[type=submit], .editclient input[type=submit] {
     background:hsl(80, 60%, 50%);
}
.clientlist input[type=submit]:hover, .editclient input[type=submit]:hover {
     background:#99cc33;
     background:hsl(80, 100%, 40%);
     color: white;
}
.clientlist ul, .editclient {
    display: inline-block;
}
.clientlist {
    margin: 0 0 1em;
}
