body {
	font-size: .75em;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
h1 {
    font: bold 2em Georgia, sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
p {
    margin: 0 0 .5em;
}
ul.float {
	width: 30%
}
a {
	color: black;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
h2 {
	color: #9c3;
	font-size: 1.5em
}
table {
	margin-bottom: 1em;
	border-collapse: collapse
}
.up {
    margin: 0;
}
td {
	border: solid 1px black
}
th {
	font-size: 110%;
	background-color: hsl(75, 100%, 40%)
}
th a {
	background-color: transparent;
	display: block;
	padding-top: 0.6em;
	padding-bottom: 0.6em
}
td a {
	color: black
}
th a:hover {
	color: white;
	text-decoration: none;
	background-color: #080;
}
td {
	padding: 0.2em 1em;
	vertical-align: middle;
	border-style: none none solid;
	border-width: 0 0 2px;
	border-color: #9c0
}
th.control {
	vertical-align: middle;
}
tr.admin {
	background-color: white
}
.footer a, .footer span
/*  fix for ie  */

	{
	display: inline;
	outline-style: solid;
	outline-width: 1px
}
.footer a, .footer span {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.5em 0.75em
}
.footer a:hover {
	color: white;
	text-decoration: none;
	background-color: #99cc33
}
p.footer span.current {
	background-color: #99cc33
}

ul input {
	margin-left: 0.5em
}
form li, form div {
	padding-top: 0.2em;
	padding-bottom: 0.2em
}
ul.float input, ul.float select {
	margin-left: -72%;
	position: relative;
	left: 110%
}
ul.edit span {
	margin-left: -50%;
	position: relative;
	left: 100%
}
ul.edit {
	width: 25%
}
label {
	font-size: 1em;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.3em
}
ul.float label {
	text-align: right;
	margin-right: 65%;
	float: right;
	vertical-align: middle
}
ul.edit label {
	text-align: right;
	margin-right: 50%;
	float: right;
	vertical-align: middle
}
input[type="text"] {
	font-size: 1em;
	height: 1.5em;
	solid: -webkit-border-radius: .5em,
}
.blue {
	border: solid 1px white
}
.sap td {
	font-size: 110%;
	line-height: 2;
	text-align: right;
	padding-right: 0.4em;
	padding-left: 0
}
table.up td {
	text-align: right;
	padding-right: 0.3em;
	padding-left: 0;
	border-bottom: 0 none
}
table.up td:last-child {
	text-align: left
}

.block {
    background-color: hsl(80, 60%, 80%);
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
}

.clientlist li {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
}
.clientlist li * {
    display: inline-block;
    vertical-align: bottom;
}

.clientlist .name {
    display: block;
    font-size: 110%;
    border-bottom: dotted 1px;
}
input[type=submit]{
     border:1px solid black;
    color: white;
     border-radius:20px;
     background-color: hsl(80, 100%, 20%);
    font: 1em Arial;
}


input[type=submit]:hover {
    background-color: black;
}
.editclient input[type=submit], .predicate input[type=submit] {
}
.editclient input[type=submit]:hover, .predicate input[type=submit]:hover {
     color: white;
}
.clientlist ul, .editclient {
    display: inline-block;
}
.clientlist {
    margin: 0 0 1em;
}

h1.admin a {
    color: navy;
}
h1.manager a {
    color: darkgreen;
}
h1.browser a{
    color: slategray;
}
/*
.editclient fieldset {
    position: absolute;
    left: -9999px;
}
*/
fieldset {
   border: solid 1px black;
    margin: 0 0 1em;
}
.warning fieldset:first-child {
    border: solid 1px red;
    position: relative;
    left: 0;
}

.xname #name, .xemail #email {
    border: solid 1px red;
}

.xname.xemail #email {
    border: solid 1px orange;
}

.upload, .update, .searcher {
    display: inline-block;
}

.searcher fieldset, .upload fieldset {
    background-color: hsl(80, 60%, 80%);
}
.searcher legend, .upload legend, .commit legend {
    padding: .4em;
    color: hsl(80, 60%, 70%);
    background-color: black;
    font: bold 1em Georgia, serif;
}

.info {
    font: 1.1em Georgia, serif;
    font-style: italic;
}

.logout {
    margin: 0 0 1em;
}
p a {
    font: bold 1.1em Georgia, serif;
    color: hsl(75, 100%, 30%);
}
p b {
}

.update, .editclient, .fieldset, .commit, .select, .clientlist {
    margin: 0 0 1em;
    display: inline-block;
}

.commit fieldset, .fieldset, .select,  .clientlist form {
    background-color: hsl(80, 60%, 80%);
}
.fieldset, .select, .clientlist {
    padding: 1em;
    border: solid 1px black;
}
.select {
    border-radius: 20px;
    padding: .7em;
}
.select select {
    font: bold 1em Arial, sans-serif;
}
.update input[type=submit]:hover, .editclient input[type=submit]:hover, .commit input[type=submit]:hover{
    color: red;
}

.clientlist form {
    margin: 0 0 1em;
    padding: .5em;
}

