body {
	font-size: .75em;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
h1 {
    font: bold 2em Georgia, sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
p {
    margin: 0 0 1em;
}

fieldset {
    border: solid 1px black;
    margin: 0 0 1em;
}

fieldset, legend {
    border-radius: 10px;
}

h2 {
	color: #9c3;
	color: #7a9f33;
	font-size: 1.5em
}
label {
	font-size: 1em;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.3em
}
table {
	margin-bottom: 1em;
	border-collapse: collapse
}

td {
	padding: 0.2em 1em;
	vertical-align: middle;
	border-style: none none solid;
	border-width: 0 0 2px;
	border-color: #9c0;
}
th {
	font: bold 1.1em Georgia, sans-serif;
	background-color: #9c0;
	background-color: hsl(77, 100%, 40%);
}
th a {
	background-color: transparent;
	display: block;
	padding-top: 0.6em;
	padding-bottom: 0.6em
}

th a:hover {
	color: white;
	text-decoration: none;
    background-color: hsl(77, 90%, 35%)
}

a, td a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 span {
    display: block;
}
th.control {
	vertical-align: middle;
}
tr.admin {
	background-color: white
}
.up {
    margin: 0;
}

.name label {
    font-family: Georgia, serif;
    font-size: 1.3em;
    color: hsl(77, 100%, 20%);
}


ul input {
	margin-left: 0.5em
}
form li, form div {
	padding-top: 0.2em;
	padding-bottom: 0.2em
}

input[type="text"] {
	font-size: 1em;
	height: 1.5em;
}

input[type=submit]{
    border:1px solid black;
    color: white;
    border-radius:20px;
    background-color: hsl(77, 100%, 20%);
    font: 1em Arial;
}

input[type=submit]:hover {
    background-color: black;
}

table.up td {
	text-align: right;
    padding: .25em 0.3em .25em 0;
	border: 0px;
}
table.up td:last-child {
	text-align: left;
}

.prompt {
    background-color: hsl(77, 60%, 80%);
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
}

.footer + .prompt, .footer + .commit {
    margin: 1em 0;
}

.prompt .info, .prompt p {
    margin: 0 0 .5em;
}

.clientlist {
    margin: 0 0 1em;
}

.info {
    font: 1.1em Georgia, serif;
    font-style: italic;
    margin: 1em 0 .5em;
}

.log {
    margin: 0 0 1em;
}

.clientlist li {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
}
.clientlist li * {
    display: inline-block;
    vertical-align: bottom;
}

.clientlist .name {
    display: block;
    font-size: 110%;
    border-bottom: dotted 1px;
}
h1.admin a {
    color: navy;
}
h1.manager a {
    color: darkgreen;
}
h1.browser a{
    color: slategray;
}
.warning fieldset:first-child {
    border: solid 1px white;
    position: relative;
    left: 0;
}

.xname #name, .xemail #email {
    border: solid 1px red;
}

.xname.xemail #email {
    border: solid 1px orange;
}

.upload, .update, .searcher {
    display: inline-block;
}

.searcher fieldset, .upload fieldset {
    background-color: #d9ebad;
}
.searcher legend, .upload legend, .commit legend, .edit legend {
    padding: .4em;
    color: #c6e085;
    background-color: black;
    font: bold 1.1em Georgia, serif;
}

p a, .log input[type=submit] {
    font: bold 1em Georgia, serif;
    color: #6e9900;
    border: solid 1px black;
    border-radius: 10px;
    padding: .15em .3em;
}

.log input[type=submit], .upload input[type=submit]{
    padding: .2em .4em;
    font: bold 1.1em Georgia, serif;
    background: black;
    color: white;
}
.log input[type=submit]:hover, .upload input[type=submit]:hover, .clientlist p a:hover {
    color: #6e9900;
}

.clientlist p a {
    background: black;
    color: white;
}

p a:hover {
    text-decoration: none;
    background: black;
    color: white;
}

.update, .editclient, .fieldset, .commit, .select, .clientlist, .edit .select+div {
    margin: 0 0 1em;
    display: inline-block;
}

.commit fieldset, .fieldset, .select, .edit fieldset, .edit .select+div{
    background-color: #d9ebad;
}
.fieldset, .select, .clientlist {
    padding: 1em;
    border: solid 1px black;
}
.fieldset {
    border-radius: 5px;
}
.clientlist form {
    background-color: white;
     margin: 0 0 1em;
    padding: .5em;
    border: solid 1px black;
    border-radius: 5px;
}
.select {
    border-radius: 20px;
    padding: .7em;
}

.select select {
    font: bold 1em Arial, sans-serif;
}
.update input[type=submit]:hover, .commit input[type=submit]:hover, .prompt input[type=submit]:hover{
    color: red;
}

.clientlist {
    background-color: #d9ebad;
    border-radius: 5px;
}
.edit .select {
    margin: 0;
    border-radius: 5px;
}
.edit .select+div {
    padding: .7em;
    border: solid 1px black;
    border-radius: 5px;
}
p.footer a {
    border-width: 0;
    border-radius: 0;
    font: 1em Arial, sans-serif;
    color: black;
}
p.footer {
    margin: 1.5em 0 0;
}

/*  fix for ie  */
.footer a, .footer span {
    display: inline;
    outline: 1px solid black;
}
.footer a, .footer span {
	display: inline-block;
	margin-right: 0.5em;
	padding: 0.5em 0.75em
}
.footer a:hover {
	color: white;
	background-color: #9c0;
}
p.footer span.current {
	background-color: #9c0;
}

.commit {
    padding: 1em;
}
.confirm {
    padding: 0;
}

.warning {
    background-color: black;
}
.warning legend {
    border: solid 1px white;
}